XSD/PrimerTipoExamenXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--
    2. Hecho
    3. 
    4.
    5.
    6.
    7.
    8.
    9.
    10.
-->
    <xs:element name="crepusculo" type="xs:string"/>
    <xs:complexType name="miPrimerTipoComplejo">
        <xs:attribute name="Género" type="xs:string"/>
    </xs:complexType>
</xs:schema>
