XSD/PrimerTipoExamenXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    <xs:element name="Saga_Crepusculo" type="miPrimerTipoComplejo" />

        <xs:complexType name="miPrimerTipoComplejo">
        <xs:attribute name="Género" type="xs:string"/>

        

        </xs:complexType>
</xs:schema>
